english_part1_Q1 BITMAP "../question/english/part1/Q1.bmp"
english_part1_Q2 BITMAP "../question/english/part1/Q2.bmp"
english_part1_Q3 BITMAP "../question/english/part1/Q3.bmp"
english_part1_Q4 BITMAP "../question/english/part1/Q4.bmp"
english_part1_Q5 BITMAP "../question/english/part1/Q5.bmp"
english_part1_Q6 BITMAP "../question/english/part1/Q6.bmp"
english_part1_Q7 BITMAP "../question/english/part1/Q7.bmp"
english_part1_Q8 BITMAP "../question/english/part1/Q8.bmp"
english_part1_Q9 BITMAP "../question/english/part1/Q9.bmp"
english_part1_Q10 BITMAP "../question/english/part1/Q10.bmp"
english_part1_Q11 BITMAP "../question/english/part1/Q11.bmp"
english_part1_Q12 BITMAP "../question/english/part1/Q12.bmp"

english_part2_Q BITMAP "../question/english/part2/Q.bmp"

english_part3_Q1 BITMAP "../question/english/part3/Q1.bmp"
english_part3_Q2 BITMAP "../question/english/part3/Q2.bmp"
english_part3_Q3 BITMAP "../question/english/part3/Q3.bmp"
english_part3_Q4 BITMAP "../question/english/part3/Q4.bmp"
english_part3_Q5 BITMAP "../question/english/part3/Q5.bmp"
english_part3_Q6 BITMAP "../question/english/part3/Q6.bmp"
english_part3_Q7 BITMAP "../question/english/part3/Q7.bmp"
english_part3_Q8 BITMAP "../question/english/part3/Q8.bmp"
english_part3_Q9 BITMAP "../question/english/part3/Q9.bmp"
english_part3_Q10 BITMAP "../question/english/part3/Q10.bmp"

english_part4_Q1 BITMAP "../question/english/part4/Q1.bmp"
english_part4_Q2 BITMAP "../question/english/part4/Q2.bmp"
english_part4_Q3 BITMAP "../question/english/part4/Q3.bmp"
english_part4_Q4 BITMAP "../question/english/part4/Q4.bmp"
english_part4_Q5 BITMAP "../question/english/part4/Q5.bmp"
english_part4_Q6 BITMAP "../question/english/part4/Q6.bmp"
english_part4_Q7 BITMAP "../question/english/part4/Q7.bmp"
english_part4_Q8 BITMAP "../question/english/part4/Q8.bmp"

english_part5_Q1 BITMAP "../question/english/part5/Q1.bmp"
english_part5_Q2 BITMAP "../question/english/part5/Q2.bmp"
english_part5_Q3 BITMAP "../question/english/part5/Q3.bmp"
english_part5_Q4 BITMAP "../question/english/part5/Q4.bmp"
english_part5_Q5 BITMAP "../question/english/part5/Q5.bmp"
english_part5_Q6 BITMAP "../question/english/part5/Q6.bmp"
english_part5_Q7 BITMAP "../question/english/part5/Q7.bmp"
english_part5_Q8 BITMAP "../question/english/part5/Q8.bmp"
english_part5_Q9 BITMAP "../question/english/part5/Q9.bmp"
english_part5_Q10 BITMAP "../question/english/part5/Q10.bmp"
english_part5_Q11 BITMAP "../question/english/part5/Q11.bmp"
english_part5_Q12 BITMAP "../question/english/part5/Q12.bmp"
english_part5_Q13 BITMAP "../question/english/part5/Q13.bmp"
english_part5_Q14 BITMAP "../question/english/part5/Q14.bmp"
english_part5_Q15 BITMAP "../question/english/part5/Q15.bmp"
english_part5_Q16 BITMAP "../question/english/part5/Q16.bmp"
english_part5_Q17 BITMAP "../question/english/part5/Q17.bmp"
english_part5_Q18 BITMAP "../question/english/part5/Q18.bmp"
english_part5_Q19 BITMAP "../question/english/part5/Q19.bmp"
english_part5_Q20 BITMAP "../question/english/part5/Q20.bmp"
english_part5_Q21 BITMAP "../question/english/part5/Q21.bmp"
english_part5_Q22 BITMAP "../question/english/part5/Q22.bmp"
english_part5_Q23 BITMAP "../question/english/part5/Q23.bmp"
english_part5_Q24 BITMAP "../question/english/part5/Q24.bmp"
english_part5_Q25 BITMAP "../question/english/part5/Q25.bmp"
english_part5_Q26 BITMAP "../question/english/part5/Q26.bmp"
english_part5_Q27 BITMAP "../question/english/part5/Q27.bmp"
english_part5_Q28 BITMAP "../question/english/part5/Q28.bmp"
english_part5_Q29 BITMAP "../question/english/part5/Q29.bmp"
english_part5_Q30 BITMAP "../question/english/part5/Q30.bmp"

english_word_Q1 BITMAP "../question/english/word/Q1.bmp"
english_word_Q2 BITMAP "../question/english/word/Q2.bmp"
english_word_Q3 BITMAP "../question/english/word/Q3.bmp"
english_word_Q4 BITMAP "../question/english/word/Q4.bmp"
english_word_Q5 BITMAP "../question/english/word/Q5.bmp"
english_word_Q6 BITMAP "../question/english/word/Q6.bmp"
english_word_Q7 BITMAP "../question/english/word/Q7.bmp"
english_word_Q8 BITMAP "../question/english/word/Q8.bmp"
english_word_Q9 BITMAP "../question/english/word/Q9.bmp"
english_word_Q10 BITMAP "../question/english/word/Q10.bmp"
english_word_Q11 BITMAP "../question/english/word/Q11.bmp"
english_word_Q12 BITMAP "../question/english/word/Q12.bmp"
english_word_Q13 BITMAP "../question/english/word/Q13.bmp"
english_word_Q14 BITMAP "../question/english/word/Q14.bmp"
english_word_Q15 BITMAP "../question/english/word/Q15.bmp"
english_word_Q16 BITMAP "../question/english/word/Q16.bmp"
english_word_Q17 BITMAP "../question/english/word/Q17.bmp"
english_word_Q18 BITMAP "../question/english/word/Q18.bmp"
english_word_Q19 BITMAP "../question/english/word/Q19.bmp"
english_word_Q20 BITMAP "../question/english/word/Q20.bmp"
english_word_Q21 BITMAP "../question/english/word/Q21.bmp"
english_word_Q22 BITMAP "../question/english/word/Q22.bmp"
english_word_Q23 BITMAP "../question/english/word/Q23.bmp"
english_word_Q24 BITMAP "../question/english/word/Q24.bmp"
english_word_Q25 BITMAP "../question/english/word/Q25.bmp"
english_word_Q26 BITMAP "../question/english/word/Q26.bmp"
english_word_Q27 BITMAP "../question/english/word/Q27.bmp"
english_word_Q28 BITMAP "../question/english/word/Q28.bmp"
english_word_Q29 BITMAP "../question/english/word/Q29.bmp"
english_word_Q30 BITMAP "../question/english/word/Q30.bmp"