math_basic_Q1 BITMAP "../question/math/basic/Q1.bmp"
math_basic_Q2 BITMAP "../question/math/basic/Q2.bmp"
math_basic_Q3 BITMAP "../question/math/basic/Q3.bmp"
math_basic_Q4 BITMAP "../question/math/basic/Q4.bmp"
math_basic_Q5 BITMAP "../question/math/basic/Q5.bmp"
math_basic_Q6 BITMAP "../question/math/basic/Q6.bmp"
math_basic_Q7 BITMAP "../question/math/basic/Q7.bmp"
math_basic_Q8 BITMAP "../question/math/basic/Q8.bmp"
math_basic_Q9 BITMAP "../question/math/basic/Q9.bmp"
math_basic_Q10 BITMAP "../question/math/basic/Q10.bmp"
math_basic_Q11 BITMAP "../question/math/basic/Q11.bmp"
math_basic_Q12 BITMAP "../question/math/basic/Q12.bmp"

math_factorize_Q1 BITMAP "../question/math/factorize/Q1.bmp"
math_factorize_Q2 BITMAP "../question/math/factorize/Q2.bmp"
math_factorize_Q3 BITMAP "../question/math/factorize/Q3.bmp"
math_factorize_Q4 BITMAP "../question/math/factorize/Q4.bmp"
math_factorize_Q5 BITMAP "../question/math/factorize/Q5.bmp"
math_factorize_Q6 BITMAP "../question/math/factorize/Q6.bmp"
math_factorize_Q7 BITMAP "../question/math/factorize/Q7.bmp"
math_factorize_Q8 BITMAP "../question/math/factorize/Q8.bmp"
math_factorize_Q9 BITMAP "../question/math/factorize/Q9.bmp"
math_factorize_Q10 BITMAP "../question/math/factorize/Q10.bmp"
math_factorize_Q11 BITMAP "../question/math/factorize/Q11.bmp"
math_factorize_Q12 BITMAP "../question/math/factorize/Q12.bmp"
math_factorize_Q13 BITMAP "../question/math/factorize/Q13.bmp"
math_factorize_Q14 BITMAP "../question/math/factorize/Q14.bmp"
math_factorize_Q15 BITMAP "../question/math/factorize/Q15.bmp"
math_factorize_Q16 BITMAP "../question/math/factorize/Q16.bmp"